# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Archivos de compilación
*.class
*.jar
*.war
*.ear

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos de configuración local
*.properties.local

# Directorios de dependencias
target/
build/
.gradle/
.mvn/

 # Visual Studio Code
 .vscode/
 *.code-workspace

 # Visual Studio (Windows)
 .vs/
 *.suo
 *.user
 *.userosscache
 *.sln.docstates

 # Eclipse
 .project
 .classpath
 .settings/

 # NetBeans
 nbproject/
 nbactions.xml

 # Sublime Text
 *.sublime-workspace
 *.sublime-project

 # Atom
 .atom/

 # env
 .env
